/* styles.css */

/* Réinitialisation des marges et des espacements par défaut */
body, h1, h2, label, input, button {
    margin: 0;
    padding: 0;
}

/* Style du corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* En-tête */
header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Contenu principal */
main {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
}

/* Champs du formulaire */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 5px; /* Réduire la taille de la hauteur */
    font-size: 14px; /* Réduire la taille de la police */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Bouton d'inscription */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Pied de page */
footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

.download-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 30px;
    height: 30px;
}